@{
    ViewData["Title"] = "Home Page";
}

<h1>Hello World!</h1>

<p>ID @ViewBag.User.Id</p>
<p>First Name @ViewBag.User.FirstName</p>
<p>Last Name @ViewBag.User.LastName</p>
<p>Email @ViewBag.User.Email</p>
<p>Hashed Password @ViewBag.User.Password</p>
<p>Created At @ViewBag.User.CreatedAt</p>
<p>Updated At @ViewBag.User.UpdatedAt</p>