<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] | QuotingDojoRedux</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/materialize/dist/css/materialize.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css"
              asp-fallback-href="~/lib/materialize/dist/css/materialize.css"
              asp-fallback-test-class="material-tooltip"
              asp-fallback-test-property="background-color"
              asp-fallback-test-value="transparent" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
</head>

<body>
    @RenderSection("header", required: false)

    <main>
        @RenderBody()
    </main>

    @RenderSection("footer", required: false)

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/materialize/dist/js/materialize.js"></script>
        <script src="~/js/site.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.js"
                asp-fallback-src="https://code.jquery.com/jquery-3.1.1.min.js"
                asp-fallback-test="window.jQuery"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"
                asp-fallback-src="~/lib/materialize/dist/js/materialize.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
